<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Google Oauth</h1>
    <h1>Facebook Oauth</h1>
    <a href="/auth/google">Login with Google</a> <br>
    <a href="/auth/facebook">Login with Facebook</a>
</body>

</html>