<div class="container">
    <form action="/users/cpanel/reset-password" method="post">
        <h2>Reset Your Password</h2>
        <div class="input-group">
            <label for="password">New Password:</label>
            <input type="password" name="password" id="password" required>
        </div>  
         <input type="hidden" name="token" value="{{token}}">
        <div class="input-group">
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required>
        </div>
        <div class="input-group">
            <input type="submit" value="Reset Password">
        </div>
    </form>
</div>

<script>
    const form = document.querySelector('form');
    const password = document.getElementById('password');
    const confirm_password = document.getElementById('confirm_password');

    form.addEventListener('submit', function (e) {
        if (password.value !== confirm_password.value) {
            e.preventDefault();
            alert('Passwords do not match!');
        }
    });
</script>