<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DarkPan - Bootstrap 5 Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="index.html" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Xác nhận đơn hàng</a>

                    <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
                    <a href="table.html" class="nav-item nav-link active"><i class="fa fa-table me-2"></i>Tables</a>
                    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                 
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    
                    
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Responsive Table</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tên sản phẩm</th>
                                            <th scope="col">Mô tả</th>
                                            <th scope="col">Giá</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Kích cỡ</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Combo Sách Muôn Kiếp Nhân Sinh Tập 1 + Không Diệt Không Sinh Đừng Sợ Hãi (Bộ 2 Cuốn)</td>
                                            <td>“Muôn kiếp nhân sinh” là tác phẩm do Giáo sư John Vũ - Nguyên Phong viết từ năm 2017 và hoàn tất đầu năm 2020 ghi lại những câu chuyện, trải nghiệm tiền kiếp kỳ lạ từ nhiều kiếp sống của người bạn tâm giao lâu năm, ông Thomas – một nhà kinh doanh tài chính nổi tiếng ở New York. Những câu chuyện chưa từng tiết lộ này sẽ giúp mọi người trên thế giới chiêm nghiệm, khám phá các quy luật về luật Nhân quả và Luân hồi của vũ trụ giữa lúc trái đất đang gặp nhiều tai ương, biến động, khủng hoảng từng ngày.</td>
                                            <td>211280</td>
                                            <td>5</td>
                                            <td>20.5 x 14 x 1 cm</td>
                                            <td>Còn Hàng</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Combo Sách Cuộc Sống Hạnh Phúc: Bí Quyết Để Yêu Thương, Lạc Quan và Thịnh Vượng</td>
                                            <td>Sách "Cuộc Sống Hạnh Phúc" là tập hợp những bài viết, trải nghiệm và lời khuyên về cách xây dựng cuộc sống hạnh phúc, bình yên và ý nghĩa. Tác giả chia sẻ những cách thức giảm căng thẳng, tạo mối quan hệ tốt đẹp và khám phá ý nghĩa đích thực của cuộc sống.</td>
                                            <td>175420</td>
                                            <td>4.7</td>
                                            <td>19.8 x 12.9 x 1.2 cm</td>
                                            <td>Còn Hàng</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Bộ 3 Sách: Nghệ Thuật Lãnh Đạo + Nghệ Thuật Tương Tác + Nghệ Thuật Giải Quyết Xung Đột</td>
                                            <td>Bộ sách cung cấp kiến thức và kỹ năng về nghệ thuật lãnh đạo hiệu quả, giao tiếp tương tác thành công và giải quyết xung đột một cách hiệu quả trong môi trường công việc và cuộc sống hàng ngày.</td>
                                            <td>295890</td>
                                            <td>4.9</td>
                                            <td>23.5 x 15.6 x 3 cm</td>
                                            <td>Còn Hàng</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Sách Kỹ Năng Đánh Thức Sự Tự Disciplined</td>
                                            <td>Quyển sách tập trung vào việc phát triển kỹ năng tự quản lý, tự disclipine để đạt được những mục tiêu cá nhân và chuyên nghiệp. Từ cách quản lý thời gian đến khả năng kiểm soát bản thân, cuốn sách giúp bạn xây dựng một cuộc sống có trật tự và hiệu quả.</td>
                                            <td>87150</td>
                                            <td>4.5</td>
                                            <td>21 x 13.8 x 0.9 cm</td>
                                            <td>Còn Hàng</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Combo Sách Nghệ Thuật Hạnh Phúc + Kỹ Năng Sống</td>
                                            <td>Bộ sách hướng dẫn về nghệ thuật tạo ra cuộc sống hạnh phúc và cân bằng, kết hợp với những kỹ năng sống cần thiết để đối mặt với thách thức và khám phá tiềm năng bản thân.</td>
                                            <td>132560</td>
                                            <td>4.8</td>
                                            <td>18.6 x 14.2 x 1.5 cm</td>
                                            <td>Còn Hàng</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Sách Phong Cách Lãnh Đạo Tự Nhiên</td>
                                            <td>Quyển sách trình bày về phong cách lãnh đạo tự nhiên, khám phá cách thức tạo động lực cho đồng đội, và xây dựng một môi trường làm việc tích cực và sáng tạo.</td>
                                            <td>60120</td>
                                            <td>4.6</td>
                                            <td>22.1 x 16.5 x 1.2 cm</td>
                                            <td>Còn Hàng</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>Bộ Sách Làm Chủ Tư Duy: Tư Duy Positivie + Tư Duy Sáng Tạo + Tư Duy Như Một Nhà Lãnh Đạo</td>
                                            <td>Bộ sách giúp bạn phát triển tư duy tích cực, sáng tạo và lãnh đạo thông qua việc hiểu rõ về cách tư duy hoạt động và cách áp dụng chúng trong cuộc sống hàng ngày.</td>
                                            <td>218350</td>
                                            <td>4.9</td>
                                            <td>20.3 x 14.7 x 2.5 cm</td>
                                            <td>Còn Hàng</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">8</th>
                                            <td>Sách Khám Phá Điều Kì Diệu Trong Bản Thân</td>
                                            <td>Qua cuốn sách này, bạn sẽ khám phá những khía cạnh đáng kinh ngạc trong bản thân mình, từ khả năng tưởng tượng đến sức mạnh vượt qua khó khăn, và từ khả năng sáng tạo đến tình yêu và lòng nhân ái.</td>
                                            <td>94870</td>
                                            <td>4.7</td>
                                            <td>19.5 x 13.2 x 1.1 cm</td>
                                            <td>Còn Hàng</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">10</th>
                                            <td>Sách Điều Hạnh Phúc Nhỏ Nhoi</td>
                                            <td>Quyển sách chứa đựng những câu chuyện nhỏ nhoi nhưng ý nghĩa, từ những khoảnh khắc giản đơn trong cuộc sống hàng ngày, giúp bạn nhận thức về những điều tạo nên hạnh phúc thực sự.</td>
                                            <td>52090</td>
                                            <td>4.6</td>
                                            <td>17.8 x 12.4 x 0.8 cm</td>
                                            <td>Còn Hàng</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                            <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>